body {
  font-family: sans-serif;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
dl,
ol,
li,
dd,
dt,
form,
fieldset,
legend,
div,
p,
span,
section,
article,
button,
input,
address,
aside,
main,
abbr,
area,
select,
kbd,
label,
table,
textarea,
img,
iframe,
option,
pre,
progress,
caption,
canvas,
video,
nav,
mark {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
fieldset {
  border: 0 none;
}
legend,
caption {
  width: 0;
  height: 0;
  visibility: hidden;
}
/* label {
  position: absolute;
  top: 0;
  left: -101%;
} */

button {
  all: unset;
  cursor: pointer;
}

input {
  cursor: pointer;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}
