li {
  cursor: pointer;
}

#wrap {
  margin: 100px auto;
  width: 630px;
}

.paint__board {
  width: 500px;
  height: 500px;
  box-shadow: 1px 1px 5px #c0c0c0, -1px 1px 5px #c0c0c0;
  border-radius: 5px;
}

.paint__toolA {
  float: right;
}

.paint__palette {
  width: 96px;
}

.paint__brush:after,
.paint__palette:after,
.paint__customPalett:after,
.paint__customPalett .colorPicker:after {
  content: "";
  display: block;
  clear: both;
}

.paint__palette-currentColor {
  width: 88px;
  height: 88px;
  background: #333;
  margin: 4px;
  border: 1px solid #dbdbdb;
}
.paint__palette .paint__palette-color {
  float: left;
  width: 40px;
  height: 40px;
  margin: 4px;
  box-shadow: -0.5px 0.5px 0.8px #c4cbd4, 0.5px 1px 1px #c4cbd4,
    0px 3px 1px #c4cbd4;
  border-radius: 3px;
  border: 0.8px solid #c0c0c0;
  box-sizing: border-box;
}

.paint__palette .paint__palette-color.pick {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: none !important;
}

.paint__customPalett .pipette {
  text-align: center;
  font-size: 1.3em;
  color: rgb(72, 99, 255);
  padding-top: 4px;
}

.paint__customPalett li {
  float: left;
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
}

.paint__customPalett .pipette:hover,
.paint__customPalett .pipette.pick {
  color: rgb(255, 107, 157);
  border-color: rgb(255, 107, 157);
}
.paint__customPalett .colorPicker {
  position: relative;
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(#ff0000),
    color-stop(#ff9100),
    color-stop(#ffe600),
    color-stop(#91ff00),
    color-stop(#00c3ff),
    color-stop(#006eff),
    color-stop(#9900ff),
    to(#ff00ff)
  );
  background: linear-gradient(
    to right,
    #ff0000,
    #ff9100,
    #ffe600,
    #91ff00,
    #00c3ff,
    #006eff,
    #9900ff,
    #ff00ff
  );
}
.paint__customPalett .colorPicker .color__board {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 10;
  border: 5px solid #dcdcdc;
}

.paint__customPalett .colorPicker.pick .color__board {
  display: block;
}

.paint__brush li,
.paint__history li {
  padding: 5px;
  margin: 8px 4px;
  text-align: center;
  border: 1px solid #dfdfdf;
}

.paint__history li:after {
  content: "";
  display: block;
  clear: both;
}

.paint__brush li.pick,
.paint__history li:hover {
  border: 1px solid rgb(255, 107, 157);
  color: #333;
}

.paint__brush li.pick h3 {
  color: #333;
}

.paint__brush li.pick span {
  background: #333;
}

.paint__brush li h3 {
  float: right;
  width: 60%;
  color: #777;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 2px;
}

.paint__brush li span {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: rgb(134, 133, 133);
}

.paint__brush li span.butt {
  height: 1px;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.paint__brush li span.round {
  border-radius: 50%;
}

.paint__history li {
  float: left;
  width: calc(50% -8px);
  font-size: 13px;
  margin: 0;
  margin: 2px 4px;
  color: #777;
}

.paint__toolB,
.paint__toolC {
  display: -webkit-box;
  display: flex;
  margin-top: 30px;
  width: 500px;
}

.paint__toolB input[type="range"] {
  width: 500px;
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.paint__toolB input[type="range"]::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.paint__toolB input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 50%;
  background-color: #666;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.paint__toolB input[type="range"]:hover::-webkit-slider-thumb {
  background-color: rgb(255, 107, 157);
}

.paint__toolB label {
  margin-left: 38px;
  width: 88px;
  border: 1px solid #dfdfdf;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  color: #222;
  padding: 10px 0;
}

.paint__toolC {
  position: relative;
}

.paint__toolC button {
  -webkit-box-flex: 1;
  flex: 1;
  margin: 0 10px;
  padding: 5px;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  text-align: center;
  color: #999;
}
.paint__toolC input[type="file"] {
  width: 30%;
  position: absolute;
  right: 10px;
  padding: 5px 0;
  opacity: 0;
  cursor: pointer;
}

.paint__toolC input[type="file"]:hover + button,
.paint__toolC button:hover {
  border-color: rgb(255, 107, 157);
  color: #333;
}
