@charset "utf-8";
/*CSS Base Document*/

html, body {height:100%; box-sizing:border-box;}
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dt, dd, span, blockquote, address, pre,form, fieldset, table, caption, th, td, legend, label {margin:0; padding:0; box-sizing:border-box;}
li {list-style: none;}
a {text-decoration:none; color:inherit;}
input[type="button"], button {cursor:pointer;}